/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.main-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 15px;
    gap: 30px;

    /* position: absolute;
    height: 1828.52px;
    left: 0px;
    right: 0px;
    top: 0px; */
}

.logo-site {
    width: 61.09px;
    height: 19px;
}

.barre-de-recherche {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    /* background-color: #fc0000; */
    /* border: solid black; */
    height: 49px;
    width: auto;

}

.bdr-icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1em;
}

.bdr-icon .fa-solid {
    color: black;
    fill: black;
}

.bdr-texte {
    display: flex;
    justify-content: center;
    background-color: white;
    height: 49px;

}

.bdr-texte input {
    border-style: none; 
    border-color: Transparent; 
    overflow: auto; 
}
.bdr-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #0065FC;
    height: 49px;
    padding-left: 20px;
    padding-right: 25px;
    border-radius: 0% 15px 15px 0%;
}

.bdr-button a {
    text-decoration: none;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    color: white;
}

.barre-filtre {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
}

.bfbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    height: 50px;
    border: solid #D9D9D9;
    border-radius: 25px;
    padding-left: 20px;
    padding-right: 20px;
}

.bfbutton i {
    padding-right: 10px;
}

.bfbutton a {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 17px;
    color: black;
    text-decoration: none;
}

.bfbutton:hover {
    background-color: #DEEBFF;
}

.info-components {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}

.info-bulle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border: 1px solid gray;
    border-radius: 24px;
}

.hcard {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));

}

.hcard img {
    object-fit: cover;
}

.hcard-title {
    font-size: 16px;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements-hcards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
}

.hebergements-hcards .hcard {
    display: flex;
    flex-direction: column;
    /* margin-bottom: 33px; */
}

.hebergements-hcards img {
    width: 250px;
    height: 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements a {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 17px;
    color: black;
    text-decoration: none;
    margin-top: 45px;
}

.afficher-plus {
    margin-top: 45px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 134px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}


.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/* Activites */

.activites-acards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.acard {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.acard img {
    object-fit: cover;
    width: 297px;
    height: 380px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}

/* Footer */

.site-foot {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
    gap: 100px;
}

.foot-column {
    display: flex;
    flex-direction: column;
}

.foot-column a {
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    margin-top: 15px;
    color: black;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}