/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}

main {
    max-width: 1340px;
    margin-left: 50px;
    margin-right: 50px;
}

footer {
    /* width: 100%;
    max-width: 1340px; */
    margin-left: 50px;
    margin-right: 50px;   
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.main-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  
    gap: 30px;
    margin-top: 0px;
    
}

.main-header-hypertext {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 69px;
    width: 328px;
    height: 35px;
    margin-top: 0px;
    margin-left: 0px;
}

.main-header-hypertext a {
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    color: black;
}

.main-header-hypertext a:hover {
    color: #0065FC;
    ;
}

.main-header-hypertext div {
    /* padding-top: 15px; */
    padding: 15px;
}

.main-header-hypertext div:hover {
    border-top: solid #0065FC;
    color: #0065FC;
    
}

.logo-site {
    width: 61.09px;
    margin: 30px;
}

.main-title {
    font-size: 22px;
    margin-top: 30px;
    margin-bottom: 0px;
}

.main-p {
    margin-top: 8px;
    margin-bottom: 0px;
}

.barre-de-recherche {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    /* background-color: #fc0000; */
    /* border: solid black; */
    height: 49px;
    width: auto;
    margin-top: 35px;


}

.bdr-content {
    display: flex;
    flex-direction: row;
    border-radius: 15px 15px 15px 15px;
    background-color: #F2F2F2;
}

.barre-filtre-title {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.bdr-icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1em;
    background-color: #F2F2F2;
    border-radius: 15px 0px 0px 15px;
}

.bdr-icon .fa-solid {
    color: black;
    fill: black;
}

.bdr-texte {
    display: flex;
    justify-content: center;
    background-color: #F2F2F2;
    height: 49px;

    width: 195px;
    

}

.bdr-texte input {
    border-style: solid; 
    border-color: #F2F2F2; 
    overflow: auto; 
    text-align: center;
    background-color: white;
    width: 100%;
}

::placeholder {
    font-style: normal;
    font-size: 18px;
    font-weight: 700;
    color: black;
    padding: 5px;
  }

.bdr-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #0065FC;
    height: 49px;
    padding-left: 20px;
    padding-right: 25px;
    border-radius: 0% 15px 15px 0%;
}

.bdr-button a {
    text-decoration: none;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    color: white;
}

.bdr-button .fa-solid {
    
    color: white;
    fill: white;
    display: none;
}


/* .break {
    flex-basis: 100%;
    height: 0;
    display: none;
  } */

.barre-filtre {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* gap: 40px; */
    margin-top: 25px;
}

.bfbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    height: 50px;
    border: solid #D9D9D9;
    border-radius: 25px;
    padding-left: 20px;
    padding-right: 20px;
}

.bfbutton i {
    padding-right: 10px;
}

.bfbutton a {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 17px;
    color: black;
    text-decoration: none;
}

.bfbutton:hover {
    background-color: #DEEBFF;
}

.info-components {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.info-bulle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border: 1px solid gray;
    border-radius: 24px;
}

.hcard {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));

}

.hcard:hover {
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.11);
}

.hcard img {
    object-fit: cover;
}

.hcard-content {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    gap: 8px;

}

.hcard-title {
    font-size: 16px;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    margin-top: 37.5px;
}

.hebergements-and-populaires section {
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
    margin-bottom: 25px;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;

}

.hebergements-hcards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 30px;
}

.hebergements-hcards .hcard {
    display: flex;
    flex-direction: column;
    /* margin-bottom: 33px; */
}

.hebergements-hcards img {
    width: 100%;
    height: 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-hcards a {
    text-decoration: none;
    color: black;
    width: 30%;
}

.hebergements-hcards .hcard-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergements-hcards .hcard-subtitle {
    margin: 0;
}

.hebergements-hcards .card-rating {
    margin-bottom: 5px;
}

.afficher-plus a {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 17px;
    color: black;
    text-decoration: none;
    margin-top: 45px;
}

.afficher-plus {
    margin-top: 30px;
}




/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 134px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}


.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

.populaires-cards a {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    position: relative;
}


/* Activites */

.activites {
    padding: 30px;
    padding-top: 0;
}

.activites h2 {
    margin-top: 30px;
    margin-bottom: 30px;
    
}

.activites-acards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* flex-wrap: wrap; */
    gap: 30px;
}

.acard {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 25px;
    background-color: white;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.acard img {
    object-fit: cover;
    width: 100%;
    height: 380px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}

.acard-title {
    display: flex;
    align-items: center;
    padding-left: 19px;
    height: 59px;
}

.activites-acards a {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 23%;
}

/* Footer */

.site-foot {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: flex-start;
    gap: 100px;
    margin-top: 65px;
    background-color: #F2F2F2;
}

.foot-column {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

.foot-column h3 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.foot-column a {
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 15px;
    color: black;
}

.foot-column a:hover {
    text-decoration: underline;
    color: rgba(0, 0, 0, 0.678);
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    .main-container {
        width: 100%;
        max-width: 1024px;
        padding: 0 0px;
        box-sizing: border-box;
    }

    .barre-filtre-title h3 {
        margin-bottom: 10px;
        margin-top: 0px;
        
    }

    .bfbutton {
        margin-left: 0px;
        margin-right: 10px;
    }

    .bfbutton a {
        font-size: 16px;
    }

    .info-components {
        margin-top: 10px;
    }

    .hebergements-and-populaires {
        flex-direction: column;
        margin-top: 25px;
    }

    .hebergements {
        width: 100%;
    }

    .hebergements-hcards a {
        width: 30%;
        height: 30%;
    }

    .hcard {
        height: 100%;
        width: 100%;
    }

    .hcard img {
        
        width: 100%;
        /* height: 100%; */
    }

    .populaires {
        width: 100%;
        margin-top: 20px;
    }

    .populaires-title {
        margin-bottom: 20px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        text-decoration: none;
        color: black;
        display: flex;
        flex-direction: column;
        position: relative;
        width: 30%;
    }

    .populaires-cards .card {
        width: 100%;
        margin-top: 0px;
    }


    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activites-acards {
        flex-direction: row;
        height: 100%;
        align-items: center;
        flex-wrap: nowrap;
        width: 100%;
     
    }

    .activites-acards a {
        width: 30%;
        height: 30%;
        
    }

    .acard img {
        width: 100%;
        height: 200px;
    }

    .acard h3 {
        text-align: center;
    }

    .acard-title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 70px;
        padding-left: 0px;
        width: 100%;
    }

    .break {
        flex-basis: 100%;
        height: 0;
      }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */

    body {
        margin: 0;
    }

    main {
        margin-left: 20px;
        margin-right: 20px;
    }

    .main-container {
        width: 100%;
        max-width: 767.98px;
        padding: 0 0px;
        box-sizing: border-box;
    }

    .main-header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0px;
    }

    nav {
        width: 100%;
    }

    .main-header-hypertext {
        gap: 0px;
        justify-content: center;
        width: 100%;
    }

    .main-header-hypertext div {
        /* padding-top: 15px; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 15px;
        width: 50%;
        border-bottom: solid #F2F2F2;
        color: #F2F2F2;
    }

    .main-header-hypertext div:hover {
        border-top: none;
        border-bottom: solid #0065FC;
        color: #0065FC;
    }

    

.barre-de-recherche {
    justify-content: center;
}

    .bdr-button a {
        display: none;
    }

    .bdr-button {
        width: 49px;
        padding-left: 0;
        padding-right: 0;
        border-radius: 15px 15px 15px 15px;
    }

    .bdr-button .fa-solid {
        display: flex;
    }

    .info-components {
        margin-top: 18px;
    }

    .info-bulle {
        padding-left: 3px;
        padding-right: 3px;
    }

    .barre-filtre {
        
    }

    .bfbutton {
        margin: 0px;
        margin-left: 0px;
        margin-right: 10px;
        
        justify-content: flex-start;
        /* padding: 12.5px; */
        margin-bottom: 17px;
        /* height: 0; */
        border-radius: 25px;
        padding-left: 16px;
        padding-right: 16px;
        width: 34.1%;
    }
    

    .bfbutton a {
        font-size: 14px;
    }

    .hebergements-and-populaires {
        flex-direction: column-reverse;
        margin-top: 35px;
        
    }

    .hebergements-and-populaires section {
        border-radius: 0px;
        margin-bottom: 0px;
        margin-left: -20px;
        margin-right: -20px;
        width: auto;
        
    }

    .hebergements-and-populaires .populaires {
        background-color: #F2F2F2;
    }
    
    .populaires {
        margin-top: 0px;
        background-color: #F2F2F2;
    }

    .populaires-cards {
        flex-direction: column;
        gap: 15px;
    }

    .populaires-cards a {
        width: 100%;
    }

    .hebergements-and-populaires .hebergements {
        background-color: white;
    }

    .hebergements-hcards {
        flex-direction: column;
    }

    .hebergements-hcards a {
        width: 100%;
        height: 100%;
    }

    .activite {
    margin-top: 30px;
    margin-bottom: 30px;
    }

    .activites-acards {
        flex-direction: column-reverse;
        height: 100%;
        align-items: center;
        gap: 15px;
     
    }

    .activites-acards a {
        width: 100%;
        height: 30%;
    }

    .acard {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        height: 100%;
    }

    .acard img {
        
        width: 100%;
        height: 141px;
    }

    

    

    footer {
        margin-left: 0;
        margin-right: 0;
    }

    .acard-title {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding-left: 19px;
        height: 70px;
    }

    .site-foot {
        flex-direction: column;
        justify-content: center;
        padding-left: 10%;
        gap: 20px;
        padding-bottom: 25px;
        padding-top: 15px;
        width: auto;
    }
}